* {
    margin: 0;
    padding: 0;
    border: border-box;
}

/** Pannel **/
.pannel {
    display: flex;
    background-color: blanchedalmond ;
    align-items: center;
    height: 30px;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
}

.pannel-opt {
    width: 30%;
}
.pannel-opt a {
    padding-left: 20px;
}